@mixin size($w: 100px, $h: 100px) {
  width: $w;
  height: $h;
}

.container {
  $change: 10px;
  .item {
    @include size(200px, 200px);
    background: tomato;
    @if ($change == 10px) {
      background: yellowgreen;
    }
  }
}
