@mixin size($w: 100px, $h: 100px) {
  width: $w;
  height: $h;
}

.container {
  $change: 10px;
  .item {
    @include size(200px, 200px);
    background: tomato;
    @if ($change == 10px) {
      background: yellowgreen;
    }
  }
}

.container2 {
  $change: 10px;
  .item2 {
    @include size; // 인자를 선언하지 않았으므로 기본 값이 들어감
    background: tomato;
    @if ($change == 10px) {
      background: rgb(255, 172, 172);
    }
  }
}
